



@media screen and (min-width: 800px) {
  div.search-terms {
    width: 60%;
  }
  div.ingredient-buttons {
    width: 82%;
  }
  div.results {
    width: 50%;
  }
  div.recipe-image img {
  width: 80%;
  margin: auto 10%;
  box-shadow: 2px 2px 2px black;
}
}
